.create-post {
	padding: 20px;
	font-size: 1.6rem;

	&__form-group {
		display: flex;
		flex-direction: column;
		margin: 40px 0;

		.ck-content {
			min-height: 300px;
		}

		.ck.ck-editor__editable_inline {
			border: 1px solid rgba($color: #000000, $alpha: 0.4);
		}
	}

	&__btn-group {
		display: flex;
		justify-content: center;
	}

	&__title {
		margin-bottom: 15px;
		font-weight: 500;
		font-size: 1.8rem;

		i {
			color: red;
		}
	}

	&__input,
	&__select {
		outline: none;
		border: 1px solid rgba($color: #000000, $alpha: 0.4);
		padding: 8px 0 8px 20px;
	}

	&__select ~ &__select {
		margin-top: 20px;
	}

	&__btn:first-child {
		margin-right: 30px;
	}
}
