.header {
	background-color: $header-color;

	&__top {
		display: flex;
		height: $header-top-height;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		height: 70px;

		img {
			object-fit: contain;
			max-height: 100%;
		}
	}

	&__search {
		&__icon {
			margin-left: 20px;
		}
	}

	&__control {
		&__btn ~ &__btn {
			margin-left: 15px;
		}

		&__btn__icon {
			margin-right: 5px;
		}
	}
}
