.header {
	background-color: $header-color;

	&__top {
		display: flex;
		height: $header-top-height;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		height: 70px;

		img {
			object-fit: contain;
			max-height: 100%;
		}
	}

	&__search {
		display: flex;
		width: 400px;

		&__input {
			border: none;
			outline: none;
			font-size: 1.6rem;
			padding: 10px;
			padding-left: 20px;
			flex: 1;
		}
	}

	&__control {
		&__btn ~ &__btn {
			margin-left: 15px;
		}

		&__btn__icon {
			margin-right: 5px;
		}
	}
}
