.manage-subject {
	&__category {
		& ~ & {
			margin-top: 50px;
		}

		&__title {
			font-size: 2rem;
			font-weight: 600;
			text-decoration: underline;
			margin-bottom: 20px;
		}
	}

	&__form-group {
		margin-left: 20px;

		&__wrapper {
			display: flex;
		}

		& ~ & {
			margin-top: 20px;
		}
	}

	&__input {
		outline: none;
		font-size: 1.6rem;
		padding: 5px 0 5px 10px;
		border: 1px solid rgba($color: #000000, $alpha: 0.6);
		margin-right: 20px;
	}

	&__btn {
		margin-right: 20px;

		&__icon {
			margin-right: 6px;
		}

		&.add {
			background-color: #3cb371;
		}
		&.delete {
			background-color: #dc143c;
		}
		&.save {
			background-color: #4169e1;
		}
		&.cancel {
			background-color: #d3d3d3;
			color: #000000;
		}
		&.edit {
			background-color: #4169e1;
		}
	}
}
