.manage-category {
	&__form-group {
		& ~ & {
			margin-top: 20px;
		}
	}

	&__form-group__wrapper {
		display: flex;
	}

	&__input {
		outline: none;
		font-size: 1.6rem;
		padding: 5px 0 5px 10px;
		border: 1px solid rgba($color: #000000, $alpha: 0.6);
		margin-right: 20px;
	}

	&__btn {
		margin-right: 20px;

		&__icon {
			margin-right: 6px;
		}

		&.add {
			background-color: #3cb371;
		}
		&.delete {
			background-color: #dc143c;
		}
		&.save {
			background-color: #4169e1;
		}
		&.cancel {
			background-color: #d3d3d3;
			color: #000000;
		}
		&.edit {
			background-color: #4169e1;
		}
	}

	&__modal {
		padding: 20px;

		&__title {
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 20px;
		}

		&__btns {
			display: flex;
			justify-content: center;
		}
		&__btn {
			& ~ & {
				margin-left: 40px;
			}
			&.cancel {
				background-color: #d3d3d3;
				color: #000000;
			}
			&.delete {
				background-color: #dc143c;
			}
		}
	}
}
