.menu {
	max-width: 300px;
	background-color: $white-color;
	font-size: 1.6rem;
	overflow: hidden;
	word-wrap: break-word;

	&__list {
		padding-left: 15px;
		display: block;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.1s ease-in, margin 0.1s ease-in;

		&__item.active > & {
			max-height: 1000px;
			margin: 10px;
		}

		&__item.active > &__item__heading {
			text-decoration: underline;
			color: rgba($color: $main-color, $alpha: 0.6);

			svg {
				color: inherit;
			}
		}

		&__item {
			&__heading {
				display: inline;
				font-size: 1.8rem;
				font-weight: 400;
				word-wrap: break-word;
				cursor: pointer;
				transition: text-decoration 0.1s ease-in, color 0.1s ease-in;

				svg {
					font-size: 1.6rem;
					margin-left: 8px;
					color: rgba($color: #000000, $alpha: 0.8);
					transition: text-decoration 0.1s ease-in, color 0.1s ease-in;
				}
			}

			&__name {
				font-size: 1.6rem;
				font-weight: 400;
				word-wrap: break-word;
			}
		}
	}
}
