.modify-post {
	padding: 20px;
	font-size: 1.6rem;
	overflow: hidden;
	font-family: 'Lora', 'Roboto';

	&__form-group {
		display: flex;
		flex-direction: column;
		margin: 40px 0;

		.ck-content {
			min-height: 300px;
		}

		.ck.ck-editor__editable_inline {
			border: 1px solid rgba($color: #000000, $alpha: 0.4);
		}
	}

	&__btn-group {
		display: flex;
		justify-content: center;
	}

	&__title {
		margin-bottom: 15px;
		font-weight: 500;
		font-size: 1.8rem;

		i {
			color: red;
		}
	}

	&__image-preview {
		display: block;
		width: 200px;
		height: auto;
		margin-top: 30px;
	}

	&__input,
	&__select,
	&__text-area {
		outline: none;
		border: 1px solid rgba($color: #000000, $alpha: 0.4);
		padding: 8px 0 8px 20px;
		font-size: 1.5rem;
		font-family: inherit;
	}

	&__select ~ &__select {
		margin-top: 20px;
	}

	&__btn:first-child {
		margin-right: 30px;
	}
}
