.post-card {
	width: 100%;
	padding: 15px;
	background-color: $white-color;
	border: 1px solid $main-color;

	& ~ & {
		margin-top: 20px;
	}

	&__title {
		font-size: 2rem;
		color: #2e69ff;

		&:hover {
			color: #0b72c6;
		}
	}

	&__desc {
		margin-left: 10px;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
