.post-detail {
	overflow: hidden;
	padding: 20px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__text {
			font-size: 3rem;
			color: $sub-color;
		}
	}

	&__content {
		font-size: 1.6rem;
	}

	&__related {
		margin-top: 50px;
	}
}
