.search {
	padding: 20px;
	font-size: 1.6rem;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: wrap;

		&__text {
			font-size: 1.8rem;

			q {
				color: $sub-color;
			}
		}
	}

	&__filter {
		&__group {
			display: flex;
			padding: 20px 0;
		}

		&__input {
			outline: none;
			border: 1px solid rgba($color: #000000, $alpha: 0.4);
			font-size: 1.6rem;
			width: 400px;
			padding: 10px;
		}

		&__label {
			margin-right: 10px;
		}

		&__select {
			outline: none;
		}
	}
}
